:root {
  --bg: #282828;
  --card: #3c3836;
  --text: #ebdbb2;
  --border: #fabd2f;
  --accent-red: #fb4934;
  --accent-green: #b8bb26;
  --accent-blue: #83a598;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', Menlo, Consolas, 'Courier New', monospace;
  background-color: var(--bg);
  color: var(--text);
  margin-top: 50px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.subtitle {
  font-weight: 400;
  letter-spacing: 0.05em;
}

#intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

#profile-photo {
  border: 2px var(--border) solid;
  border-radius: 100%;
}

#info-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.info-item {
  gap: 0.5rem;
  font-size: 0.95rem;
}

#links-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

#skills {
  display: flex;
  flex-direction: column;
  row-gap: .3rem;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 1rem;
}

#navbar ul{
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

#navbar li {
  list-style: none;
  padding: 1rem;
  border: 2px solid var(--text);
  border-radius: 3px;
}

#navbar a.active {
  border-bottom: 2px solid var(--accent-red);
}